<!DOCTYPE html>
<html>
	<head>
		<title>Arduairmon</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script>
			// I am just here to define Pythons None value as null in js, I know, hacky it is
			var None = null;
			var rawData = {
				date: {{ raw_data.date |safe }},
				temperature: {{ raw_data.temperature | safe }},
				humidity: {{ raw_data.humidity | safe }},
				vcc: {{ raw_data.vcc | safe }}
			};

			var timeFormat = '{{ DATE_FORMAT }}';

			function movingAverageFilter( arr, avg_length ) {
				if( avg_length <= 1 ) return arr;
				if( arr.length <= 1 ) return arr;

				// prepare array, add left padding
				let padding = Array( avg_length -1 ).fill( arr[0] );
				let padded_arr = padding.concat( arr );

				return _movingAverageFilter( padded_arr, avg_length);
			}

			function _movingAverageFilter( arr, avg_length ) {
				if( arr.length < avg_length  ) {
					return [];
				}

				let avg_arr = arr.slice( -avg_length );
				let avg = avg_arr.reduce( ( a, b ) => a + b, 0 ) / avg_arr.length;

				let next_arr = arr.slice( 0, -1 );

				return _movingAverageFilter( next_arr, avg_length ).concat( [ avg ] );
			}
		</script>
	</head>

	<body>
		<canvas id="temperature_and_humidity"></canvas>
		<script>
			var ctx = document.getElementById('temperature_and_humidity').getContext('2d');
			var chart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: rawData.date,
					datasets: [{
						name: 'temperature',
						label: "Temperature",
						fill: false,
						backgroundColor: 'rgb(255, 99, 132)',
						borderColor: 'rgb(255, 99, 132)',
						data: rawData.temperature,
						yAxisID: 'temp-axis',
						pointRadius: 0,
						fill: false,
						lineTension: 0,
						borderWidth: 2
					},{
						name: 'humidity',
						label: "relative Humidity",
						fill: false,
						backgroundColor: 'rgb(99, 132, 255)',
						borderColor: 'rgb(99, 132, 255)',
						data: rawData.humidity,
						yAxisID: 'hum-axis',
						pointRadius: 0,
						fill: false,
						lineTension: 0,
						borderWidth: 2
					}]
				},

				// Configuration options go here
				options: {
					responsive: true,
					hoverMode: 'index',
					stacked: false,
					title: {
						display: true,
						text: 'Temperature and reltaive Humidity'
					},
					scales: {
						xAxes: [{
							type: 'time',
							time: {
								format: timeFormat,
								// round: 'day'
								tooltipFormat: 'll HH:mm'
							},
							scaleLabel: {
								display: true,
								labelString: 'Date'
							}
						}],
						yAxes: [{
							type: 'linear',
							display: true,
							position: 'left',
							id: 'temp-axis',
							ticks: {
								min: -5,
								max: 45
							},
						}, {
							type: 'linear',
							display: true,
							position: 'right',
							id: 'hum-axis',
							ticks: {
								min: 0,
								max: 100
							},

							gridLines: {
								drawOnChartArea: false,
							},
						}],
					}
				}
			});

			setInterval( updateChart , 60000 );

			function updateChart() {
				from = chart.data.labels[ chart.data.labels.length -1 ];
				url = window.location.protocol + '//' + window.location.host + '/json?from=' + from;

				fetch(url, {
					method: 'get'
				})
					.then(response => response.json())
					.then(jsonData => {
						chart.data.labels = chart.data.labels.concat( jsonData.date );
						chart.data.datasets.forEach((dataset) => {
							console.log( dataset.data );
							dataset.data = dataset.data.concat( jsonData[ dataset.name ] );
							console.log( dataset.data );
						});
						chart.update();
					})
					.catch(err => {
						console.error( err );
					})
			}

		</script>

		<canvas id="temperature_smoothing"></canvas>
		<script>
			let ctx_smooth = document.getElementById('temperature_smoothing').getContext('2d');
			let chart_smooth = new Chart(ctx_smooth, {
				type: 'line',
				data: {
					labels: rawData.date.slice( -60 ),
					datasets: [{
						label: "Temperature",
						fill: false,
						backgroundColor: 'rgb(255, 99, 132)',
						borderColor: 'rgb(255, 99, 132)',
						data: rawData.temperature.slice( -60 ),
						pointRadius: 0,
						fill: false,
						lineTension: 0,
						borderWidth: 2
					},{
						label: "Moving Average",
						fill: false,
						backgroundColor: 'rgb(99, 255, 132)',
						borderColor: 'rgb(99, 255, 132)',
						data: movingAverageFilter( rawData.temperature.slice( -60 ), 20),
						pointRadius: 0,
						fill: false,
						lineTension: 0,
						borderWidth: 2
					},{
						label: "Moving Average 2x",
						fill: false,
						backgroundColor: 'rgb(99, 132, 255)',
						borderColor: 'rgb(99, 132, 255)',
						data: movingAverageFilter( movingAverageFilter( rawData.temperature.slice( -60 ), 6), 6),
						pointRadius: 0,
						fill: false,
						lineTension: 0,
						borderWidth: 2
					}]
				},

				// Configuration options go here
				options: {
					responsive: true,
					hoverMode: 'index',
					stacked: false,
					title: {
						display: true,
						text: 'Temperature Smoothing'
					},
					scales: {
						xAxes: [{
							type: 'time',
							time: {
								format: timeFormat,
								tooltipFormat: 'll HH:mm'
							},
							scaleLabel: {
								display: true,
								labelString: 'Date'
							}
						}],
						yAxes: [{
							type: 'linear',
							display: true,
							position: 'left',
							id: 'temp-axis',
						}],
					}
				}
			});
		</script>

	</body>

</html>
